.optical {
  background-color: var(--layoutBackground);
  padding: calc(var(--padding) * 2);
}

.iffy {
    height: 600px;
    width: 800px;
}

.url {
  background-color: rgba(0,0,0,0);
  color: #ccc;
  padding: 8px 12px;
  border: 1px solid #333;
  border-radius: 3px;
}
